/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*variables*/
Nwhite = #f2f2f2
Nblack = #1a1f29
Nyellow = #ffc800
Norange = #FFB500
Nred = #FF6600

html
  font-size 1em
  line-height 1.4
  height 100vh

::-moz-selection
  background none
  text-shadow none

::selection
  background none
  text-shadow none

a
  color Nwhite
  text-decoration none
  &:hover
    color Nred

/*Principal*/
body
  width 100vW
  height 100vh
  color Nblack
  font-size 16px
  font-family 'Share Tech',Helvetica,Arial,sans-serif
  background url("../img/navebn.png") no-repeat center Nwhite
  background-attachment fixed
  background-size 10vw auto

#inicio
  background url("../img/naves-de-papel.png") no-repeat center Nyellow
  background-attachment fixed
  background-size 10vw auto
  width 100vw
  height 100vh
  margin 0 auto
  display flex
  justify-content center
  header
    align-self center
  h1
    font-size 4vw
    line-height 100%
    margin-right 26vw
    hyphens none
    width 11vw
    text-transform uppercase
    border-right solid 0.4vw Norange

nav
  width 100vw
  height auto
  background Norange
  position fixed
  top 0
  menu
    width 90%
    max-width 1920px
    display flex
    align-items center
    margin 0 auto
    justify-content space-between
  li
    list-style none
  a
    font-size 1vw
    padding 1vw
  
.input-menu,.open-menu,.closed-menu
  display none

#main-content
  width 90%
  max-width 1920px
  margin 0 auto
  article
    height 100vh
    display flex
    justify-content start
    align-items center

.txt-box
  padding 1vw
  max-width 18vw
  h2
    margin-bottom 1vw
    text-align center
    font-size 2vw
    line-height 140%
    border-right solid 0.2vw Norange
  p
    font-size 1vw
    line-height 120%
    hyphens none
  a
    color Norange

.box-center
  margin 0 auto

#galeria
  background url("../img/naves-f.png") no-repeat center Nwhite
  background-attachment fixed
  background-size 60vw auto

#descargar
  background url("../img/naves.png") no-repeat center Nwhite
  background-attachment fixed
  background-size 60vw auto

.box-img
  display flex
  overflow auto
  margin-bottom 1vw
  figure
    padding 1vw
    display flex
    flex-direction column
    justify-content center
    align-items center
    img
    	margin 1vw
  figcaption
    font-size 1vw
    line-height 100%
    padding 1vw 0 1vw 0
  a
    &:hover
      opacity .6
    img
      margin 0
      width 2.8vw
      height auto

footer
  padding 2vw 0 2vw 0
  text-align center
  display flex
  justify-content center
  flex-direction column
  align-items center
  font-size 1vw
  img
    width auto/9
    padding-bottom 1vw
    height auto
    max-width 48px

/*Responsive Design*/
@media screen and (max-width:1024px)
  nav
    menu
      display none
    a
      font-size 1.2em
  
  .open-menu
    display flex
    justify-content center

  .open-menu,.closed-menu
    span
      font-size 3em
      color Nred
  
  #menu:checked ~ nav
    .open-menu
      display none
    .closed-menu
      display flex
      justify-content center
    menu
      display flex
      flex-direction column
  
  #inicio
    h1
      font-size 2em
      width 6rem
      border-right solid 3px Norange

  .txt-box
    padding 1rem
    max-width 300px
    h2
      margin-bottom 1rem
      font-size 2em
      border-right solid 3px Norange
    p
      font-size 1em

  .box-img
    margin-bottom 1rem
    figure
      padding 1rem
      img
        margin 1rem
    figcaption
      font-size 1em
      padding 1rem 0 1rem 0
    a
      img
        width 48px

  footer
    padding 2rem 0 2rem 0
    font-size 1em
    img
      padding-bottom 1rem

@media screen and (max-width:768px)
  body,#inicio,#galeria,#descargar
    background-image none
  
  #inicio
    height auto
    padding 12vh 0 10vh 0
    h1
      margin-right 0
      width auto
      border 0
  
  #main-content
    article
      height auto
      padding 6vh 0 1vh 0
  
  .txt-box
    margin 0 auto
    max-width 100%
    h2
      border 0